{{! Form to create or update objects information }}
{{#checkRole session.role "0,1"}}
<div class="container">
<div class="row">
<div class="span3"></div>
<div class="span6">
    <form action='/objects/{{type}}/{{data._id}}' method='post'> 
	{{#if filename}}
            <input type="hidden" value="{{data.filename}}" name="oldfilename">
	{{/if}}
                <input type='text' name='title' class="span6" placeholder='Title' value="{{data.title}}" />
                <input type='text' name='description' class="span6" placeholder='Description' value="{{data.description}}" />
                <input type='text' name='tag' class="span6" placeholder='Tag list (comma separated)' value="{{data.tag}}" />
                {{{categories language data.category}}}
                <input type='submit' class='btn btn-block' value="{{l10n "send" ../session.language}}">
    </form>
</div>

<div class="span3"></div>
</div></div
{{/checkRole}}
